@import url('./base.css');
@import url('./components/header.css');
@import url('./components/modal.css');
@import url('./components/card.css');
@import url('./components/buttons.css');
@import url('./components/forms.css');
@import url('./components/admin.css');
@import url('./components/movie-details.css');
@import url('./components/cinema-seat.css');
@import url('./components/carousel.css');
