/* ADMIN PAGE */

.admin-section {
    display: flex;
    gap: 2rem;
}

.admin-form-container {
    flex: 1;
    max-width: 400px;
}

.admin-list-container {
    flex: 2;
}

@media (max-width: 992px) {
    .admin-section {
        flex-direction: column;
    }

    .admin-form-container {
        max-width: 100%;
    }
}
