.btn {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: var(--font-family-body);
    font-size: 1rem;
}

.btn:hover {
    transform: translateY(-2px);
}

.btn-primary {
    background-color: var(--accent-color);
    color: var(--text-color-dark);
    width: 100%;
}

.btn-primary:hover {
    opacity: 0.9;
}

.btn-continuar {
    margin-top: 30px;
    font-family: var(--font-family-headings);
    background-color: var(--accent-color);
    color: var(--text-color-dark);
}
.btn-continuar:hover {
    opacity: 0.9;
}