/* Banner Principal */
.banner-carousel{
    max-width: 1400px;
    margin: 40px auto; 
    padding: 0 40px;   
}

.banner-carousel {
    width: 100%;
    height: 400px; 
    border-radius: 12px;
}

.banner-carousel .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.banner-carousel .swiper-pagination-bullet-active {
    background: var(--cor-destaque) !important; 
}

.banner-carousel .swiper-button-next,
.banner-carousel .swiper-button-prev {
    color: var(--cor-texto-claro) !important; 
}
