.banner-carousel {
    width: 100%;
    height: 450px;
    border-radius: 12px;
    overflow: hidden;
}

.banner-carousel .swiper-slide {
    background-color: #000;
}

.banner-carousel .swiper-slide img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.banner-carousel .swiper-pagination-bullet-active {
    background: var(--accent-color) !important;
}

.banner-carousel .swiper-button-next,
.banner-carousel .swiper-button-prev {
    color: var(--text-color-light) !important;
    transition: background-color 0.3s ease;
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-carousel .swiper-button-next:hover,
.banner-carousel .swiper-button-prev:hover {
    background-color: rgba(0,0,0,0.6);
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .banner-carousel {
        height: 300px;
    }
}
