/* LOGIN MODAL */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay.active {
    display: flex; /* Show when active */
}

.modal-content {
    background-color: #202020;
    color: white;
    padding: 30px 25px;
    border-radius: 8px;
    width: 380px;
    max-width: 90%;
    text-align: center;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
}

.modal-content h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 40px;
    color: white;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: var(--text-color-dark);
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    opacity: 0.9;
}

.signup-link {
    margin-top: 30px;
    font-size: 15px;
    color: #ccc;
}

.signup-link a {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
