<a href="index.html" class="logo-container">
    <img src="img/logo.png" alt="Logo CineTick">
    <span>CineTick</span>
</a>

<nav class="main-nav">
    <a href="index.html">Home</a>
    <a href="em-cartaz.html">Em Cartaz</a>
    <a href="../backEnd/public/bomboniere">Bomboniere</a>
</nav>

<div class="user-section">
    <div class="user-menu">
        <img id="user-avatar" class="user-avatar" alt="User Avatar">
        <div id="user-dropdown" class="user-dropdown">
            <!-- Content will be populated by ui.js -->
        </div>
    </div>
</div>
